@page "{fundingPeriodId}"
@model CalculateFunding.Frontend.Pages.Specs.CreateSpecificationPageModel

@{
    ViewData["Title"] = "Create specification";
    Layout = "~/Pages/_Layout.cshtml";
}

@section FormBannerLeft{
    <h1 class="heading-large">Create Specification for @Model.FundingPeriod.Name</h1>
    <p class="description-text">This specification describes how a funding stream will be used for an academic year.</p>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li><a href="/specs?fundingPeriodId=@Model.FundingPeriodId">Specifications</a></li>
            <li>Create Specification</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <div gds-validation-summary="All">
            </div>
            <div>
                <div gds-validationblock-for="CreateSpecificationViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="CreateSpecificationViewModel.Name"></a>
                        <label asp-for="CreateSpecificationViewModel.Name">Name of the specification</label>
                        <input asp-for="CreateSpecificationViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="CreateSpecificationViewModel.FundingStreamIds"></a>

                <div gds-validationblock-for="CreateSpecificationViewModel.FundingStreamIds">
                    <div class="form-group">

                        <label asp-for="CreateSpecificationViewModel.FundingStreamIds">Funding stream</label>
                        <select asp-items="@(Model.FundingStreams)" asp-for="CreateSpecificationViewModel.FundingStreamIds" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="CreateSpecificationViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="CreateSpecificationViewModel.Description"></a>
                        <label asp-for="CreateSpecificationViewModel.Description">Description</label>
                        <textarea asp-for="CreateSpecificationViewModel.Description" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="submit" class="button" id="save-button">Save</button> <a href="/specs?fundingPeriodId=@Model.FundingPeriodId" id="cancel-link">Cancel</a></p>

        </form>

    </div>
</div>