@page "{academicYearId}"
@model CalculateFunding.Frontend.Pages.Specs.CreateSpecificationModel

@{
    ViewData["Title"] = "Create specification";
    Layout = "~/Pages/_Layout.cshtml";
}

@section FormBannerLeft{
    <h1 class="heading-large">Create Specification for @Model.Specification.AcademicYear.Name</h1>
    <p>This specification describes how a funding stream will be used for an academic year.</p>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li><a href="/specs?academicYearId=@Model.AcademicYearId">Specifications</a></li>
            <li>Create Specification</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-sm-9">
        <form method="post" class="form">

            <div class="form-group">
                <label asp-for="Specification.Name">Name</label>
                <input asp-for="Specification.Id" type="hidden">
                <input asp-for="Specification.Name" class="form-control" type="text">
            </div>
          
            <div class="form-group">
                <label asp-for="Specification.FundingStream.Id">Funding stream</label>
                <select asp-for="Specification.FundingStream.Id" class="form-control" name="">
                    @foreach (var stream in Model.FundingStreams)
                    {
                        <option selected="@Model.Specification.FundingStream?.Id" value="@stream.Id">@stream.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Specification.Description">Description</label>
                <textarea asp-for="Specification.Description" rows="10" class="form-control" id="contents" title="Contents"></textarea>
            </div>

            <p class="form-submit-container"><button type="submit" class="button">Save</button> <a href="/specs?academicYearId=@Model.AcademicYearId">Cancel</a></p>

        </form>

    </div>
</div>
@section Scripts
    {
    @*<script type="text/javascript">
        $(function () {
            $('.summernote').summernote({
                height: 200
            });

            $('form').on('submit', function (e) {
                e.preventDefault();
                alert($('.summernote').summernote('code'));
                alert($('.summernote').val());
            });
        });
    </script>*@
}
