@page "{fundingPeriodId?}"
@model CalculateFunding.Frontend.Pages.Specs.CreateSpecificationPageModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Create specification";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@if (!Model.IsAuthorizedToCreate)
{
    @section PermissionWarnings
{
        <div class="row">
            <div class="col-xs-12 permission-warning-banner">
                <div class="permission-warning-inner">

                    <p class="permission-warning-text"><i class="material-icons permission-warning-icon">warning</i>You are not permitted to create a specification for any funding stream</p>
                </div>
            </div>
        </div>
    }
}

@section FormBannerLeft{
    <h1 class="hero-title">Create specification</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">@BreadcrumbText.CalculateFunding</a></li>
            <li><a href="/specs">@BreadcrumbText.Specifications</a></li>
            <li>@BreadcrumbText.CreateSpecification</li>
        </ol>
    </div>
}
<div id="create-specification" class="row">
    <div class="col-sm-9 col-md-6" data-bind="hidden: isInProgress">
        <div class="hidden" data-bind="css: formValid() === false || formError() === true ? 'validation-summary-errors' : 'hidden'">
            <h3 class="heading-large">There is a problem</h3>
            <div class="hidden" data-bind="css: formValid() === false ? 'visible' : 'hidden'">
                <p>
                    <strong>Check that you have answered the questions correctly</strong>
                </p>
                <ul>
                    <li><a href="#specificationName" data-bind="css: nameValid() === false ? 'validation-summary-link' : 'hidden'">Enter a unique name</a></li>
                    <li><a href="#description" data-bind="css: descriptionValid() === false ? 'validation-summary-link' : 'hidden'">Enter a description</a></li>
                    <li><a href="#select-funding-stream" data-bind="css: fundingStreamIdValid() === false ? 'validation-summary-link' : 'hidden'">You must select a funding stream</a></li>
                    <li><a href="#select-funding-period" data-bind="css: fundingPeriodIdValid() === false ? 'validation-summary-link' : 'hidden'">You must select a funding period</a></li>
                    <li><a href="#providerVersionIdSelect" data-bind="css: providerVersionIdValid() === false ? 'validation-summary-link' : 'hidden'">You must select a core provider</a></li>
                </ul>
                
            </div>
            <div class="hidden" data-bind="css: formError() === true ? 'visible' : 'hidden'">
                <p>
                    <strong>The specification creation has failed. please try again.</strong>
                </p>
                <p class="info error" data-bind="text: errorMessage"></p>
                <a href="#">Contact the helpline service</a>
            </div>
        </div>

        <form class="form" data-bind="submit: createSpecification">
            @*<div data-bind="text: validationSummary"></div>*@
            <div data-bind="css: nameValid() === false ? 'validation-failed-block' : 'validation-passed-block'">
                <div class="form-group">
                    <label for="specificationName">Specification name</label>
                    <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Use a descriptive unique name other users can understand</span></h4>
                    <input id="specificationName" class="form-control" type="text" data-bind="value: name">
                </div>
            </div>          
            <div>
                <div data-bind="css: fundingStreamIdValid() === false ? 'validation-failed-block' : 'validation-passed-block'">
                    <div class="form-group">
                        <label for="select-funding-stream">Funding streams</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Select a funding stream</span></h4>
                        <select data-bind="event: { change: fundingStreamChanged }, value: selectedFundingStream" id="select-funding-stream" class="form-control">  
                            <option> </option>
                            <!-- ko foreach: fundingStreams -->
                            <option data-bind="value:id, text:name"></option>
                            <!-- /ko -->
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div data-bind="css: fundingPeriodIdValid() === false ? 'validation-failed-block' : 'validation-passed-block'">
                    <div class="form-group">
                        <label for="select-funding-period">Funding period</label>
                        <select id="select-funding-period" class="form-control" data-bind="foreach: fundingPeriods">
                            <option data-bind="value:id, text: name"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div data-bind="css: providerVersionIdValid() === false ? 'validation-failed-block' : 'validation-passed-block'">
                    <div class="form-group">
                        <label for="providerVersionIdSelect">Core Provider Data</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Select a funding stream before choosing the provider data</span></h4>
                        <select id="providerVersionIdSelect" data-bind="foreach:providerVersions" asp-for="CreateSpecificationViewModel.ProviderVersionId" class="form-control gds-select gds-select-taghelper">
                            <option></option>
                            <option data-bind="value: providerVersionId, text: display, attr: {'data-description': description}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div data-bind="css: descriptionValid() === false ? 'validation-failed-block' : 'validation-passed-block'">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" rows="10" class="form-control" data-bind="value: description"></textarea>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="button" class="button" disabled="@(!Model.IsAuthorizedToCreate)" id="save-button" data-bind="click: createSpecification">Create specification</button> <a href="/specs?fundingPeriodId=@Model.FundingPeriodId" id="cancel-link">Cancel</a></p>
        </form>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="display: none" data-bind="visible: isInProgress">
        <h1>Loading specification</h1>
        <h2>Please wait, this can take several minutes.</h2>
        <img src="~/assets/images/loading.svg" alt="Processing" />
        <h2 data-bind="visible: showCreatingSpec">Creating specification</h2>
        <h2 data-bind="visible: showCreatingCalcs">Creating calculation <span id="calculationProcessed" data-bind="text: currentStatus.overallItemsProcessed"></span> of <span id="calculationTotalCount" data-bind="text: currentStatus.itemCount"></span></h2>
    </div>
</div>


@section scripts{
    <script asp-src-include="~/assets/libs/js/knockout-latest.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/assets/libs/js/select2.min.js" type="text/javascript" asp-append-version="true"></script>
    <script asp-src-include="~/assets/libs/js/signalr.min.js"></script>
    <script src="~/js/createspecification.js"></script>    
    <script type="text/javascript">
        var vm = new calculateFunding.specification.CreateSpecificationViewModel();
        vm.isInProgress(false);
        var createSpecificationContainer = document.getElementById("create-specification");
        if (createSpecificationContainer) {
            ko.applyBindings(vm, createSpecificationContainer);
        }
        vm.getFundingStream();
        vm.fundingStreamChanged();

    </script>
    <script asp-src-include="~/js/submit.disabler.js" asp-append-version="true" type="text/javascript"></script>
}

@section styles{
    <link rel="stylesheet" href="~/assets/libs/css/select2.min.css" />
}