@page "{specificationId}"
@model CalculateFunding.Frontend.Pages.Specs.EditSpecificationPageModel

@{
    ViewData["Title"] = "Edit specification";
    Layout = "~/Pages/_Layout.cshtml";
}

@section FormBannerLeft{
    <h1 class="heading-large">Edit Specification</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li><a href="/specs/policies/@Model.EditSpecificationViewModel.Id">Specifications</a></li>
            <li>Edit Specification</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-sm-9 col-md-6">
        <form method="post" class="form">
            <input asp-for="EditSpecificationViewModel.OriginalSpecificationName" type="hidden" />
            <input asp-for="EditSpecificationViewModel.OriginalFundingStreams" type="hidden" />
            <div gds-validation-summary="All">
            </div>
            <div>
                <div gds-validationblock-for="EditSpecificationViewModel.Name">
                    <div class="form-group">
                        <a validationanchor-for="EditSpecificationViewModel.Name"></a>
                        <label asp-for="EditSpecificationViewModel.Name">Name of the specification</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Use a descriptive unique name users can understand</span></h4>
                        <input asp-for="EditSpecificationViewModel.Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="EditSpecificationViewModel.FundingPeriodId"></a>

                <div gds-validationblock-for="EditSpecificationViewModel.FundingPeriodId">
                    <div class="form-group">

                        <label asp-for="EditSpecificationViewModel.FundingPeriodId">Funding period</label>
                        <select asp-items="@(Model.FundingPeriods)" asp-for="EditSpecificationViewModel.FundingPeriodId" class="form-control">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <a validationanchor-for="EditSpecificationViewModel.FundingStreamIds"></a>

                <div gds-validationblock-for="EditSpecificationViewModel.FundingStreamIds">
                    <div class="form-group">
                        <label asp-for="EditSpecificationViewModel.FundingStreamIds">Funding stream</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Deleting a funding stream will break the specification's funding calculations</span></h4>
                        <select asp-items="@(Model.FundingStreams)" asp-for="EditSpecificationViewModel.FundingStreamIds" class="form-control gds-select-multiple"></select>
                    </div>
                </div>
            </div>
            <div>
                <div gds-validationblock-for="EditSpecificationViewModel.Description">
                    <div class="form-group">
                        <a validationanchor-for="EditSpecificationViewModel.Description"></a>
                        <label asp-for="EditSpecificationViewModel.Description">Description</label>
                        <h4 class="material-icons-content-container"><i class="material-icons material-icons-left">error</i> <span class="faded-text">Update this to say what's changed</span></h4>
                        <textarea asp-for="EditSpecificationViewModel.Description" rows="10" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="alert alert--warning">
                        <div class="icon-funding-stream-removed"><i class="material-icons">warning</i></div><div>Funding stream deleted: this resets funding calculation allocation lines set to the funding stream. You'll need to set new ones.</div>
                    </div>
                </div>
            </div>
            <p class="form-submit-container"><button type="submit" class="button" id="save-button">Update specification</button> <a href="/specs/policies/@Model.EditSpecificationViewModel.Id" id="cancel-link">Cancel</a></p>

        </form>

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/assets/libs/js/select2.min.js"></script>
    <script asp-src-include="~/js/edit.specification.js" asp-append-version="true" type="text/javascript"></script>
}

@section styles{
    <link rel="stylesheet" href="~/assets/libs/css/select2.min.css" />
}

