@page
@using CalculateFunding.Frontend
@using CalculateFunding.Frontend.ApiClient.Models.Results
@model CalculateFunding.Frontend.Pages.Specs.IndexModel
@{
    ViewData["Title"] = "Create a specification";
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">Specifications</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</p>
        <form class="year-form" method="get">
            <div class="form-group">
                <label class="form-label" for="select-box">Select year:</label>
                <select class="form-control" id="select-box" name="select-box">
                    <option>2017/2018</option>
                    <option>2016/2017</option>
                    <option>2015/2016</option>
                </select>
            </div>
        </form>
    </div>
    @*end of col-xs-8*@
</div>
@*end of row*@
<div class="row">
    <div class="col-xs-12 col-md-12">
        <p>                
            <a href="/specs/specification" class="button">Add specification</a>
        </p>
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">

                <button class="accordion-toggle">Open all</button>
                @foreach (var budget in Model.Budgets)
                {
                    <div class="panel">
                        <div class="panel-heading" tabindex="0">
                            <h2 class="panel-title stream-title">
                                @budget.Budget.Name
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</p>

                        </div>
                        <div class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel">
                                    <ul class="list-group">
                                        @foreach (var policy in budget.FundingPolicies)
                                        {
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div cass="inner-header ">
                                                            <h2 class="heading-medium list-title summary">
                                                                @policy.Name
                                                            </h2>
                                                            

                                                            <div class="details collapse panel">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</p>

                                                                @foreach (var allocationLine in policy.AllocationLines ?? new List<AllocationLineSummary>())
    {
                                                            <h3 class="heading-small">
                                                                @{
        var routeParam =
            new Dictionary<string, string>
            {
                                                                        {"budgetId", budget.Budget.Id},
                                                                        {"allocationLineId", allocationLine.Id}
            };
                                                                }
                                                                @allocationLine.Name
                                                            </h3>
        <dl class="dl-horizontal">
            <dt>Product 1</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</dd>
            
            <dt>Product 2</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat orci et felis cursus tincidunt. Aenean cursus lobortis iaculis. Donec sed sollicitudin lorem, eget sodales orci. Nunc quis maximus mi. Mauris nec mauris laoreet augue luctus vestibulum. Morbi rhoncus tempus libero in lobortis. Integer a erat nec ante venenatis euismod sit amet sit amet lorem.</dd>
        </dl>


}
                                                                <p>                <a href="/specs/product" class="button">Add product</a></p>
                                                            </div>
                                                            @*end of panel.panel-border-narrow*@
                                                        </div>
                                                    </div>
                                                    @*end of col-xs-12*@
                                                </div>
                                                @*end of row*@
                                            </li>
                                        }

                                    </ul>
                                </div>
                                @*end of panel inside panel-body*@
                            </div>
                            @*end of panel-body*@
                        </div>
                        @*end of panel-collapse*@
                    </div>
                    @*end of panel*@
                }
                @*end of foreach*@
            </div>
        </div>
        @*end of #esfa-collapse*@
    </div>
    @*end of .col-xs-12*@
</div>
@*end of .row*@
