@page "{academicYearId?}"
@model CalculateFunding.Frontend.Pages.Specs.IndexModel
@{
    ViewData["Title"] = "Manage specification";
}
@section BreadCrumb{

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li>Manage Specification</li>
        </ol>
    </div>
}
@section BannerLeft{
    <!-- Breadcrumbs -->
    <h1 class="hero-title">Manage specification</h1>
    <p class="hero-description">Use this service to:</p>
    <ul class="banner-container-list">
        <li>Explore funding streams, policy areas and allocation lines</li>
        <li>Create product specification</li>
        <li>Create policy</li>
    </ul>
}

<div class="row">
    <div class="col-xs-9">
        <form class="form-inline" method="get" role="form">
            <div class="form-group">
                <label class="form-label" for="select-box">Select funding period:</label>
                <select asp-items="@(Model.FundingPeriods)" class="form-control spec-mgr-control" id="select-spec-year" name="fundingPeriodId"></select>
                <input id="btn-select-year" type="submit" class="button button-in-line" value="Go" />
            </div>
        </form>
        <hr />

        <p>Create specification or select one from the list below</p>


    </div>
    @*end of col-xs-9*@
</div>

@*end of row*@
<div class="row">
    <div class="col-xs-9 col-md-9">
        <p>
            <a href="/specs/createSpecification/@Model.FundingPeriodId" class="button spec-mgr-control" id="create-specification-button">Create Specification</a>
        </p>
        <hr />
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">

                @if (!Model.Specifications.IsNullOrEmpty())
                {
                    foreach (var specification in Model.Specifications)
                    {
                        <div>
                            <div>
                                <h2 class="description-text-link stream-title">
                                    <a name="spec-@specification.Id"></a>
                                    <a href="/specs/policies/@specification.Id" id="specification-link-@specification.Id"> @specification.Name</a>
                                </h2>
                                <p>@specification.Description</p>
                            </div>

                            @*end of panel-collapse*@
                        </div>
                        @*end of panel*@
                    }
                }
                else
                {
                    <p>
                        <a href="/specs/createSpecification/@Model.FundingPeriodId" id="create-specification-button-noneexists">No specification exists, create a specfication</a>
                    </p>

                }

                @*end of foreach*@
            </div>
        </div>
        @*end of #esfa-collapse*@
    </div>
    @*end of .col-xs-12*@
</div>
@*end of .row*@
