@page
@model CalculateFunding.Frontend.Pages.Specs.ProductModel
@{
    ViewData["Title"] = "Create product";
}
<!-- Breadcrumbs -->
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/specs">Products</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="heading-xlarge">Create Product</h1>
        <p class="text-muted">Lorem ipsum</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" class="form">

            <div class="form-group">
                <label asp-for="Product.Name">Name</label>
                <input asp-for="Product.Id" type="hidden">
                <input asp-for="Product.Name" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label asp-for="Product.AllocationLine.Id">Allocation line</label>
                <select asp-for="Product.AllocationLine.Id" class="form-control" name="">
                    @foreach (var allocationLine in Model.AllocationLines)
                    {
                        <option selected="@Model.Product.AllocationLine.Id" value="@allocationLine.Id">@allocationLine.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description">Description</label>
                <textarea asp-for="Product.Description" class="summernote" id="contents" title="Contents"></textarea>
            </div>

            <p><button type="submit" class="button">Save</button></p>

        </form>

    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('.summernote').summernote({
                height: 200
            });

            $('form').on('submit', function (e) {
                e.preventDefault();
                alert($('.summernote').summernote('code'));
                alert($('.summernote').val());
            });
        });
    </script>
}
