@page "{specificationId?}"
@using CalculateFunding.Frontend
@using CalculateFunding.Frontend.ApiClient.Models
@using CalculateFunding.Frontend.ApiClient.Models.Results
@model CalculateFunding.Frontend.Pages.Specs.ViewSpecificationModel
@{
    ViewData["Title"] = "View specification";
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li><a href="/specs?academicYearId=@Model.ViewSpecificationViewModel.AcademicYear.Id">Specifications</a></li>
            <li>@Model.ViewSpecificationViewModel.Name</li>
        </ol>
    </div>
}
@section BannerLeft{
    <!-- Breadcrumbs -->
    <h1 class="heading-large">@Model.ViewSpecificationViewModel.Name</h1>
    <p>@Model.ViewSpecificationViewModel.Description</p>
  
}

<div class="row">
    <div class="col-xs-9 col-md-9">
        <p>
            <a href="/specs/policy/@Model.ViewSpecificationViewModel.Id" class="button spec-mgr-control">Create Policy/a>
        </p>
        <hr />
       
    </div>
    @*end of .col-xs-12*@
</div>
@*end of .row*@
