@page
@model CalculateFunding.Frontend.Pages.Tests.ManageModel
@{
    ViewData["Title"] = "Manage the Tests";
    Layout = "~/Pages/_Layout.cshtml";

    // The implementation of this page should be in index, but created to satisfy story #35383 for landing page
}

@section BannerLeft{
    <h1 class="heading-large">Manage the Tests</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li>Manage the Tests</li>
        </ol>
    </div>
}