@page
@using CalculateFunding.Frontend.Properties

@model CalculateFunding.Frontend.Pages.Approvals.IndexModel
@{
    ViewData["Title"] = "Funding Approvals";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li>@BreadcrumbText.FundingApprovals</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Funding approvals</h1>
    <h2 class="hero-description">View results for providers, calculations and quality assurance tests.</h2>
}

<div class="homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/approvals/choose" class="heading-medium">Choose a specification to approve and release</a>
            </div>
            <div>Select a specification for a funding period and a funding stream.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/approvals/ViewFunding" class="heading-medium">Approve and release funding</a>
            </div>
            <div>Approve funding for a chosen specification and release the funding for payment and publish.</div>
        </div>
    </div>
</div>