@using System.Web
@model CalculateFunding.Frontend.ViewModels.Common.PagerPartialViewModel

@if (Model.PagerState.LastPage > 1)
{
    <noscript>
        <div data-bind="visible: !searchPerformed()" id="static-rownavigation-container">
            <div class="table-paging-container" id="static-paging-container">
                @if (Model.PagerState.CurrentPage != 1)
                {
                    <a class="paging-link paging-link-first" href="?page=1"><i class="material-icons">keyboard_arrow_left keyboard_arrow_left</i></a>
                }
                else
                {
                    <span class="paging-link paging-link-first paging-link-disabled"><i class="material-icons">keyboard_arrow_left keyboard_arrow_left</i></span>
                }

                @if (Model.PagerState.PreviousPage.HasValue)
                {
                    <a class="paging-link paging-link-previous" href="?page=@Model.PagerState.PreviousPage.Value"><i class="material-icons">keyboard_arrow_left</i></a>
                }
                else
                {
                    <span class="paging-link paging-link-previous paging-link-disabled" href="#"><i class="material-icons">keyboard_arrow_left</i></span>
                }

                @foreach (int pageNumber in Model.PagerState.Pages)
                {
                    if (pageNumber == Model.PagerState.CurrentPage)
                    {

                        <span class="paging-link paging-link-active">@pageNumber</span>
                    }
                    else
                    {
                        <a href="?page=@pageNumber" class="paging-link"><span>@pageNumber</span></a>
                    }

                }

                @if (Model.PagerState.NextPage.HasValue)
                {
                    <a href="@Model.PagerState.NextPage.Value" class="paging-link paging-link-next"><i class="material-icons">keyboard_arrow_right</i></a>
                }
                else
                {
                    <span class="paging-link paging-link-next paging-link-disabled"><i class="material-icons">keyboard_arrow_right</i></span>
                }

                @if (Model.PagerState.CurrentPage < Model.PagerState.LastPage)
                {
                    <a href="?page=@Model.PagerState.LastPage" class="paging-link paging-link-last"><i class="material-icons">keyboard_arrow_right keyboard_arrow_right</i></a>
                }
                else
                {
                    <span class="paging-link paging-link-last paging-link-disabled"><i class="material-icons">keyboard_arrow_right keyboard_arrow_right</i></span>
                }

            </div>
        </div>
    </noscript>
}

<div class="withjs-show" data-bind="visible: searchPerformed && pagerState() && pagerState().lastPage > 1" id="dynamic-rownavigation-container">
    <div class="table-paging-container" data-bind="with: pagerState" id="dynamic-paging-container">
        <a data-bind="css: { 'paging-link-disabled' : $parent.pageNumber() === 1}, click: function(){ $root.loadPage(1)}" class="paging-link paging-link-first" href="#"><i class="material-icons">keyboard_arrow_left keyboard_arrow_left</i></a>
        <a data-bind="enabled: previousPage, css: { 'paging-link-disabled' : !previousPage}, click: function(){ $root.loadPage(previousPage)}" class="paging-link paging-link-previous" href="#"><i class="material-icons">keyboard_arrow_left</i></a>

        <!-- ko foreach: pages -->
        <!-- ko if: $data === $parent.currentPage-->
        <span class="paging-link paging-link-active" data-bind="text: $data"></span>
        <!-- /ko -->
        <!-- ko if: $data !== $parent.currentPage-->
        <a href="#" data-bind="click: function(){$root.loadPage($data)}" class="paging-link"><span data-bind="text: $data"></span></a>
        <!-- /ko -->
        <!-- /ko -->

        <a data-bind="enabled: nextPage, click: function(){ $root.loadPage(nextPage)}, css: { 'paging-link-disabled' : !nextPage}" class="paging-link paging-link-next"><i class="material-icons">keyboard_arrow_right</i></a>
        <a data-bind="css: { 'paging-link-disabled' : currentPage < lastPage}, click: function(){ $root.loadPage(lastPage)}, css: { 'paging-link-disabled' : currentPage >= lastPage}" class="paging-link paging-link-last" href="#"><i class="material-icons">keyboard_arrow_right keyboard_arrow_right</i></a>
    </div>
</div>