<div class="col-xs-12 withjs-show">
    <div class="filter-selected-container" data-bind="foreach: selectedSearchFacets" id="filter-selected-container">
        <div class="filter-selected-item">
            <span data-bind="click: function(){$root.removeFilter($data)}" class="filter-selected-item-remove-button"><i class="material-icons">close</i></span>
            <span data-bind="text: displayName"></span>
        </div>
    </div>
</div>