<div class="col-xs-12 withjs-show" data-bind="visible: errorMessage">
    <div class="error-summary" id="error-summary">
        <h2 class="heading-medium error-summary-heading">
            Error performing search query
        </h2>
        <p data-bind="text: errorMessage" id="error-message"></p>
    </div>
</div>