@model CalculateFunding.Frontend.ViewModels.Specs.SpecificationViewModel
@using CalculateFunding.Frontend.Properties

<div class="banner-link-container">
    <div class="banner-link-left-container">
        <p class="hero-description">@Model.FundingPeriod.Name</p>

        <h1 class="hero-title"> @Model.Name </h1>
        <p class="hero-text ">@PageText.FundingStreams:</p>
        @foreach (var fundingStream in Model.FundingStreams)
        {
            <p class="hero-subtext">@fundingStream.Name</p>
        }
    </div>
</div>