@page
@using CalculateFunding.Frontend.Pages
@model CalculateFunding.Frontend.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}
@section BreadCrumb{

    <div class="spacing-15">
 
    </div>
}
@section BannerLeft{
    <h1 class="heading-large">Calculate Funding</h1>
    <p>Calculate funding, quality assure the results or release funding to providers.</p>
}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/specs" class="heading-small">Specifications</a>
            </div>
            <div>Create and manage the policy specifications used to distribute funding.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets" class="heading-small">Manage data</a>
            </div>
            <div>Create and manage datasets and their relationships.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/scenarios" class="heading-small">Quality assurance</a>
            </div>
            <div>Design or reuse tests for funding calculations.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/calcs" class="heading-small">Calculations</a>
            </div>
            <div>Create and manage funding calculation scripts.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/results" class="heading-small">View results</a>
            </div>
            <div>Review and validate the results of the calculations and the tests for each provider.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/results/publish" class="heading-small">Release funding</a>
            </div>
            <div>Release funding for providers and say how it’s been calculated.</div>
        </div>
    </div>
</div>



