@page
@using CalculateFunding.Frontend.Pages
@model CalculateFunding.Frontend.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

@section BannerLeft{ 
<h1 class="heading-large">This is banner left</h1>
}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">Manage the Specification</a>
            </div>
            <div>explore funding streams, plicy areas, allocation lines and create the specification</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">Manage the Data</a>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">Manage the tests</a>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">Manage the Calculations</a>
            </div>
            <div>explore funding streams, plicy areas, allocation lines and create the specification</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">View the Results</a>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="#" class="heading-small">Publish the results</a>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil</div>
        </div>
    </div>
</div>



