@page
@using CalculateFunding.Frontend.Pages
@model CalculateFunding.Frontend.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-9">
        <h1 class="heading-xlarge">
            Calculate funding
        </h1>

        <p>Use this service to:</p>

        <ul class="list list-bullet">
            <li>explore funding streams, policy areas and allocation lines</li>
            <li>understand the quality assurance coverage and results for each funding stream and allocation line</li>
            <li>understand the progress in resolving any providers failing quality assurance as the allocation deadline approaches</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-9">



            <div class="panel-group wrap esfa-collapse filtr-container" id="esfa-list">
                <button class="accordion-toggle">Open all</button>

                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/specs">
                                Creating the specification
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">
                                <ul>
                                    <li>
                                        <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                    </li>
                                    <li>
                                        <a href="#">Page one</a>
                                    </li>
                                    <li>
                                        <a href="#">Page two</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/data">
                                Manage the data
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">

                                <ul>
                                        <li>
                                            <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                        </li>
                                        <li>
                                            <a href="#">Page one</a>
                                        </li>
                                        <li>
                                            <a href="#">Page two</a>
                                        </li>

                                    </ul>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/tests">
                                Develop the tests
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">
                                <ul>
                                    <li>
                                        <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                    </li>
                                    <li>
                                        <a href="#">Page one</a>
                                    </li>
                                    <li>
                                        <a href="#">Page two</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/calcs">
                                Develop the calculations
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">
                                <ul>
                                    <li>
                                        <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                    </li>
                                    <li>
                                        <a href="#">Page one</a>
                                    </li>
                                    <li>
                                        <a href="#">Page two</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/results">
                                View the results
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">
                                <ul>
                                    <li>
                                        <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                    </li>
                                    <li>
                                        <a href="#">Page one</a>
                                    </li>
                                    <li>
                                        <a href="#">Page two</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel filtr-item" data-id="P004_PriRate" data-filter-item="" data-filter-name="the blyth academy" data-category="northumberland APT-Provider-Information Phase Secondary">
                    <div class="panel-heading">
                        <h2 class="panel-title failing-provider-title" style="margin-bottom: 0 !important">
                            <a href="/publish">
                                Publish the results
                            </a>
                        </h2>
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="panel-collapse collapse" style="display: none;">
                        <div class="panel-body">
                            <div class="panel">
                                <div class="provider-stats">
                                    <ul>
                                        <li>
                                            <a href="https://www.gov.uk/service-manual/design">Pattern is from here</a>
                                        </li>
                                        <li>
                                            <a href="#">Page one</a>
                                        </li>
                                        <li>
                                            <a href="#">Page two</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">

            <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Help and support</h2>
                <p>Find out what the calculate funding service is and how to get involved</p>
                <ul>
                    <li><a href="#">Page one</a></li>
                </ul>
            </aside>

        </div>
    </div>
