@page
@model CalculateFunding.Frontend.Pages.IndexModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "Homepage";

}
@section BreadCrumb{

    <div class="spacing-15">

    </div>
}
@section BannerLeft{
    <h1 class="hero-title">@PageText.CalculateFunding</h1>
    <p class="hero-description">@PageText.CFSubHeading</p>
}

<div class="homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/app/SpecificationsList" class="heading-medium">Specifications</a>
            </div>
            <div>Create and manage the specifications used to calculate funding.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets" class="heading-medium">Manage data</a>
            </div>
            <div>Manage data source files or map them to datasets for a specification.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/scenarios" class="heading-medium">Quality assurance tests</a>
            </div>
            <div>Design tests to check calculations and data.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/app/results" class="heading-medium">View results</a>
            </div>
            <div>View results for providers, calculations and quality assurance tests.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/approvals" class="heading-medium">Funding approvals</a>
            </div>
            <div>Approve funding for providers and view how it's been calculated.</div>
        </div>
    </div>
</div>

<div class="row home-page-survey">
    <div class="col-xs-12 govuk-beta-label">
        <span>
            Complete our quick 5-question survey to <a target="_blank" rel="noopener noreferrer" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YJWVbwgF21Alt5-BoBqL_RUNjY%20xSlJVTFhWR0wwTkgyRzc2RVdDN0VEMC4u">help us improve the service</a>.

        </span>
    </div>
</div>

