@page "{pageNumber?}"
@model CalculateFunding.Frontend.Pages.Datasets.ManageDataIndexPageModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    ViewData["Title"] = "Manage Data";
    Layout = "~/Pages/_Layout.cshtml";
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">Calculate Funding</a></li>
            <li>Manage Data</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Manage the data</h1>
    <p class="hero-text"> Create and manage dataset and their relationships between specifications.</p>

}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets/managedatasets/" class="heading-small">Manage Datasets</a>
            </div>
            <div>Manage datasets or upload new one.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets" class="heading-small">Specify dataset relationships</a>
            </div>
            <div>Create relationships between specifications and source data.</div>
        </div>
    </div>
</div>
