@page "{pageNumber?}"
@model CalculateFunding.Frontend.Pages.Datasets.ManageDataIndexPageModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    ViewData["Title"] = "Manage Data";
    Layout = "~/Pages/_Layout.cshtml";
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">Calculate Funding</a></li>
            <li>Manage Data</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Manage data</h1>
    <p class="hero-text">Create and manage dataset and map them to data sources.</p>

}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets/managedatasets/" class="heading-small">Manage data sources</a>
            </div>
            <div>View and update existing data sources or create a new one.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets/datasetrelationships" class="heading-small">Map data sources to datasets</a>
            </div>
            <div>Create the references between data source and datasets.</div>
        </div>
    </div>
</div>
