@page "{pageNumber?}"
@model CalculateFunding.Frontend.Pages.Datasets.ManageDataIndexPageModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@using CalculateFunding.Frontend.Properties
@using Microsoft.Extensions.Hosting

@{
    ViewData["Title"] = "Manage data";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li>@BreadcrumbText.ManageDatasets</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">@PageText.ManageDataset</h1>
    <p class="hero-description">@PageText.ManageDatasetDescr</p>

}

<div class="homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a id="manageDatasourcesLink" href="/datasets/managedatasets/" class="heading-medium">Manage data source files</a>
            </div>
            <div id="manageDatasourcesDescription">Load a new data source file or download an existing one.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a id="mapDatasourcesToDatasetsLink" href="/datasets/datasetrelationships" class="heading-medium">Map data source files to datasets for a specification</a>
            </div>
            <div id="mapDatasourcesToDatasetsDescription">Select the data source file a dataset uses.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/datasets/schemas" class="heading-medium">Download data schemas</a>
            </div>
            <div>Download the data schema for data source.</div>
        </div>
    </div>
</div>
