@page "{pageNumber?}"
@model CalculateFunding.Frontend.Pages.Datasets.ManageDataIndexPageModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    ViewData["Title"] = "Manage Data";
    Layout = "~/Pages/_Layout.cshtml";
}
@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">Calculate Funding</a></li>
            <li>Manage Data</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">Manage data</h1>
    <p class="hero-text">Create and manage data sources, and map data sources to datasets.</p>

}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a id="manageDatasourcesLink" href="/datasets/managedatasets/" class="heading-small">Manage data sources</a>
            </div>
            <div id="manageDatasourcesDescription">View, update or download current data sources, or load a new one.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a id="mapDatasourcesToDatasetsLink" href="/datasets/datasetrelationships" class="heading-small">Map data sources to datasets for a specification</a>
            </div>
            <div id="mapDatasourcesToDatasetsDescription">Map how a dataset references a data source.</div>
        </div>
    </div>
</div>
