@page "{datasetid?}"
@model CalculateFunding.Frontend.Pages.Datasets.UpdateDataSourcePageModel
@{
}

@{
    ViewData["Title"] = "Update Datasource";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BannerLeft{
    <h1 class="hero-title">Update data sources </h1>
    <h2 class="hero-description"> Update existing data sources [to be developed].</h2>
}