/// <reference path="../../../node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss" />

.banner-link-wrapper {
    background-color: $govuk-blue;
    color: white;
    margin-bottom: 30px;

    a,
    a:visited {
        color: #fff;
    }
}

.banner-link-container {
    display: flex;
    align-content: stretch;

    .banner-link-left-container {
        width: 66.66%;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .banner-link-right-container {
        width: 33.33%;
        background-color: #000;
        padding: 20px;
        align-self: flex-end;

        a,
        a:visited {
            color: #fff;
            font-size: 19px;
        }
    }

    h1.hero-title {
        padding: 15px 0 5px 0;
        margin: 0;
        line-height: 1.0416666667;
    }

    .hero-text {
        margin: 0;
    }
}
