/// <reference path="../../../node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss" />

.status-draft {
    color: $pink;
}

.status-held{
    color: $pink;
    font-weight: 700;
}

.status-updated {
    color: $orange;
    font-weight: 700;
}

.status-approved {
    color: $turquoise;
    font-weight: 700;
}

.status-published {
    color: $grass-green;
    font-weight: 700;
}

.btn-status {
    color: #fff;
    border-radius: 0;
}

.btn-status-draft {
    background-color: $pink;
}

.btn-status-updated {
    background-color: $orange;
}

.btn-status-approved {
    background-color: $turquoise;
}

.btn-status-loading{
    background-color: $grey-2;
    color: #000;
}

.btn-status-text {
    min-width: 135px;
    text-align: left;
    cursor: default;

    i.material-icons {
        font-size: 13px;
    }
}

.dropdown-menu > li.dropdown-approved > a:hover,
.dropdown-menu > li.dropdown-approved > a:focus,
.dropdown-approved {
    background-color: $turquoise;
    color: #fff;
}

.dropdown-menu.dropdown-menu-publishstatus {
    padding: 0;
    right: 0;
    left: auto;
    border-right: none;
    border-left: none;

    li {
        padding: 5px 0;
    }

    & > li > a{
        padding-left: 15px;
    }
}

