// Settings (variables)
@import "colours"; // Colour variables
@import "font_stack"; // Font family variables
@import "measurements"; // Widths and gutter variables

// Mixins
@import "conditionals"; // Media query mixin
@import "device-pixels"; // Retina image mixin
@import "grid_layout"; // Basic grid layout mixin
@import "typography"; // Core bold and heading mixins
@import "shims"; // Inline block mixin, clearfix placeholder

// Mixins to generate components (chunks of UI)
@import "design-patterns/alpha-beta"; // Only required if using _phase-banner.scss
@import "design-patterns/buttons"; // Only required if using _buttons.scss
@import "govuk-elements";

// Functions
@import "url-helpers"; // Function to output image-url, or prefixed path (Rails and Compass only)
$path: "wwwroot/assets/images";

//colors

$filter-bg: #dee0e2;
$filter-hover-bg: #bfc1c3;
//fonts
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url("../libs/fonts/glyphicons-halflings-regular.eot");
    src: url('../libs/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/glyphicons-halflings-regular.woff2') format('woff'), url('../libs/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../libs/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

$glyph: 'glyphicons-halflings-regular';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../libs/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../libs/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../libs/fonts/MaterialIcons-Regular.woff) format('woff'), url(../libs/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


a.button:hover {
    text-decoration: none;
}

a,
a:visited {
    text-decoration: underline;
    color: $govuk-blue;
}

b, strong {
    font-weight: 600;
}

blockquote {
    border-left: 5px solid $secondary-text-colour;
    margin-left: 15px;
    padding: 5px 15px;
}

.form-control:focus {
    outline: 3px solid $focus-colour;
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-offset: 0;
}

///////////////////////////////////////
//             Start Page           //
/////////////////////////////////////
.button-start {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(../images/icon-pointer.png);
}

.govuk-related-items {
    margin-top: 30px;
    border-top: 1px solid $border-colour;
    padding-top: 5px;
}
/////////////////////////////////////
/////         Breadcrumbs       /////
/////////////////////////////////////
.breadcrumbs {
    li {
        background-image: url('../images/separator.png');
        background-position: 0% 50%;
        background-repeat: no-repeat;

        &:first-child {
            background-image: none;
        }
    }
}
/////////////////////////////////////
////           Buttons         //////
/////////////////////////////////////
.button-error {
    background-color: $mellow-red;

    &:hover {
        background-color: darken($mellow-red, 10%);
    }

    &.remove {
        background-color: $green;

        &:hover {
            background-color: darken($green, 10%);
        }
    }
}
/*.button-view {
    background-color: $govuk-blue;
}*/
.button-edit {
    background-color: $govuk-blue;

    &:hover {
        background-color: darken($govuk-blue, 10%);
    }
}

.button-publish {
    width: 100%;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: bold;
}

.hero-description {
    font-size: 24px;
    margin-bottom: 15px;
}

.hero-text {
    font-size: 19px;
}

.spacing-0{
    margin-top: 0;
    margin-bottom: 0;
}

.spacing-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spacing-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.spacing-15-top {
    margin-top: 15px;
}

.spacing-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jscollapse-container {
    .jscollapse-header {
    }

    .jscollapse-jsenabled-header {
        .collapse-title {


            &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                background-image: url('../images/icon-plus.png');
                color: $text-colour;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
                font-size: 24px;
                cursor: pointer;
                pointer-events: all;
            }

            &.jscollapse-jsenabled-active {
                &:before {
                    content: "";
                    background-image: url('../images/icon-minus.png');
                }
            }
        }
    }
}

.rightcolumn-container {
    border-top: 5px solid $govuk-blue;
    padding-top: 5px;
    font-size: 16px;

    .rightcolumn-heading {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.what-is-description {
    font-size: 16px;
    color: $secondary-text-colour;
}

.manage-policy {
    .policy-description, .subpolicy-description {
        color: $secondary-text-colour;
        font-size: 16px;
        margin-left: 15px;
    }

    .create-policy-button-container {
        margin: 15px 0;
    }

    .policy-list .policy-list-item:last-child {
        border-bottom: 1px solid #bfc1c3;
    }

    .policy-list-title-container {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 0;
        font-weight: 700;
        margin-right: 10px;
        pointer-events: none;
    }

    .policy-list-title,
    .subpolicy-title-container {

        a.policy-title,
        a.policy-title:visited,
        a.subpolicy-title,
        a.subpolicy-title:visited {
            color: $link-colour;
            pointer-events: all;
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                color: $link-hover-colour;
            }
        }
    }

    .policy-list-header {
        position: relative;
        background-color: #fff;
        padding: 15px 0;
        padding-right: 25px;
        border-bottom: none;
        border-radius: 0;
        border-top: 1px solid $border-colour;
        line-height: 30px;

        a,
        a:visited {
            text-decoration: none;
        }
    }


    .subpolicy-list-header {
        position: relative;
        background-color: #fff;
        padding: 15px 0;
        padding-right: 25px;
        border-bottom: none;
        border-radius: 0;
        line-height: 30px;

        a,
        a:visited {
            text-decoration: none;
        }
    }

    a.policy-list-openall,
    a.policy-list-openall:visited {
        text-decoration: none;
    }

    .policy-list-edit-link {
        margin-right: 5px;
        float: right;
        font-size: 19px;
    }

    .subpolicy-container {
        border-left: 5px solid $secondary-text-colour;
        margin-left: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .calculation-container {
        border-left: 5px solid $secondary-text-colour;
        margin-left: 15px;
    }

    .calculation-table {
        margin-left: 15px;
        margin-bottom: 0;


        td {
            border: 1px solid #ddd !important;
            font-size: 16px;
        }

        a,
        a:visited {
            text-decoration: none;
        }
    }
}

.compare-container {
    .compare-table {
    }

    .calculation-select {
        padding-bottom: 30px;
        width: 45px;

        label {
            width: 0;
            padding: 0;
        }
    }
}

.manage-calculations {
    .manage-calculations-filter-container {
        background-color: $panel-colour;
    }

    .paging-container {
        margin-bottom: 15px;
    }

    .calculations-table {

        thead {
            border-bottom: 2px solid #000 !important;
        }

        tr {
            border-bottom: 1px solid #ccc !important;
        }

        td {
            padding: 15px 0;
        }
    }
}

.paging-link,
.paging-active-page {
    padding: 0 5px;
}

.paging-active-page {
    font-weight: bold;
}

.draft-saved-panel {
    background-color: rgb(248, 188,155);
    border-left: 5px solid $orange;
    padding: 15px;
    margin-bottom: 15px;
    text-decoration: underline;

    a {
        text-decoration: none;
        color: #000;
    }
}

.publish-notification-panel {
    background-color: rgb(146, 207, 202);
    border-left: 5px solid $green;
    padding: 15px;
    margin-bottom: 15px;
    text-decoration: underline;

    a {
        text-decoration: none;
        color: #000;
    }
}

.monaco-editor-container {
    min-height: 600px;
    border: 4px solid #000000;
}

.monaco-editor-diff-container {
    height: 500px;
}

.monaco-editor-diff-editor {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: calc(100% - 1px);
    overflow: visible;
}

.edit-calculation {
    .build-output {
        background-color: rgb(222,224,226);
        border: 4px solid #000000;
        min-height: 150px;
        padding: 15px;
    }
}

.diff-container {
    .diff-details-container {
        display: flex;
    }

    .diff-details-panel {
        padding: 15px;
    }

    .diff-left {
        width: 50%;
        background-color: rgb(248, 188,155);
        border-left: 15px solid $orange;
    }

    .diff-right {
        width: 50%;
        background-color: rgb(146, 207, 202);
        border-left: 15px solid $green;
    }

    .diff-left-status {
        float: right;
        color: $orange;
    }

    .diff-right-status {
        float: right;
        color: $green;
    }

    .monaco-editor-diff-container {
        border: 4px solid #000;
    }
}

.bannerpublish-container {
    border-top: 5px solid $govuk-blue;
    padding-top: 5px;

    .bannerpublish-title {
        font-size: 19px;
        font-weight: bold;
    }

    .bannerpublish-status {
        margin-bottom: 15px;
    }

    .bannerpublish-lastmodifiedby,
    .bannerpublish-lastmodified {
        color: $grey-2;
    }

    .bannerpublish-lastmodified {
        margin-bottom: 5px;
    }
}

.withjs-show {
    display: none;
}

.withjs-hide {
}

.withjs-hide-hidden {
    display: none;
}

.inline-collapse-container {
    .inline-collapse-heading {
        color: $govuk-blue;

        span {
            cursor: pointer;
            font-size: 19px;
            line-height: 25px;
        }

        &.active {
            .inline-collapse-arrow {
                -webkit-transform: rotate(90deg);
                transform: rotate(0.25turn);
                transition: transform ease-in-out 0.3s;
            }
        }
    }

    .inline-collapse-arrow {
        font-style: normal;
        display: inline-block;
        float: left;
        margin-right: 5px;
        transition: transform ease-in-out 0.3s;

        &::after {
            content: "▸";
        }
    }
}

///////////////////////////////////////
//    Accordion list and sublist    //
/////////////////////////////////////
.esfa-collapse {
    .accordion-toggle {
        color: #005ea5;
        cursor: pointer;
        background: none;
        border: 0;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        float: right;
        position: relative;
        z-index: 1;
        padding: 0.5em 0;
    }

    .panel {
        padding: 0;
        border-style: none;
        border-radius: 0;
        box-shadow: none;
        position: static !important;

        &.panel-border-narrow,
        &.panel-border-narrow {
            border-left-style: solid;
            padding: 15px;
        }

        .panel-heading {
            position: relative;
            background-color: #fff;
            cursor: pointer;
            padding: 15px 0;
            padding-right: 25px;
            border-bottom: none;
            border-radius: 0;
            border-top: 1px solid $border-colour;

            &:focus {
                outline: 3px solid $focus-colour;
            }

            &:hover {
                background-color: $canvas-colour;

                a {
                    color: $link-hover-colour;
                }
            }

            &.no-collapse:before {
                display: none !important;
            }

            .panel-title {
                font-size: 24px;
                line-height: 1.25;
                margin-bottom: 20px;
                font-weight: 700;
                margin-right: 10px;

                a {
                    color: $link-colour;

                    &:hover {
                        color: $link-hover-colour;
                    }
                }
            }
        }

        .panel-collapse {
            display: none;

            .panel-body {
                border-top: none !important;

                .list-title:not(.heading-medium) {
                    display: inline-block;
                    font-weight: normal;
                    text-decoration: none;
                }

                .heading-medium {
                    text-decoration: none !important;
                }
            }
        }

        .item-detail {
            display: inline-block;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }

            > span {
                @extend p;
                font-size: 19px;

                &.glyphicon {
                    font-family: glyphicons-halflings-regular;
                    margin: 0;
                    margin-right: 10px;
                    color: $secondary-text-colour;
                }
            }
        }
        /*a {
            color: $link-colour;
            position: relative;
            font-weight: 700;
            padding: 5px;
            padding-left: 0;

            &:hover {
                text-decoration: none !important;
                color: $link-hover-colour;
            }

            &:focus {
                text-decoration: none !important;
                background-color: initial;
                outline: 3px solid $focus-colour;
                outline-offset: 2px;
            }

            &.plain-link {
                color: $text-colour;

                &:hover {
                    color: $text-colour;
                }

                &:focus {
                    outline-offset: 0;
                }
            }
        }*/
        .amount {
            color: initial !important;
            font-weight: normal !important;
            font-size: initial !important;
            margin-left: 10px;
        }
    }

    &#esfa-list {
        .panel-heading {

            &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                background-image: url('../images/icon-plus.png');
                color: $text-colour;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
                font-size: 24px;
            }

            &.active {
                background-color: $canvas-colour;

                &:before {
                    content: "";
                    background-image: url('../images/icon-minus.png');
                }
            }
        }
    }

    &#esfa-filter {
        margin-top: 36px;

        .panel {
            margin-bottom: 30px;

            .panel-heading {
                border-top: none;
                background-color: $filter-bg;
                padding: 10px;

                .panel-title {
                    font-size: inherit;
                    line-height: 1.25;
                    padding-left: 5px;
                }

                label {
                    font-weight: 700;
                }

                .form-control {
                    width: 100%;

                    &:focus {
                        outline: 3px solid $focus-colour;
                    }
                }
            }

            &.search-panel {
                .panel-heading {
                    &:hover {
                        background-color: $filter-hover-bg;
                    }
                }
            }

            .panel-no-collapse {
                background-color: $filter-bg;
                padding: 0 5px 5px;

                .panel-body {
                    background-color: #fff;
                    padding: 10px;

                    &.scroll-body {
                        max-height: 244px; //add or remove 49px to add/remove elements shown
                        overflow: hidden;
                        overflow-y: scroll;
                    }

                    label {
                        font-weight: normal;

                        &:after {
                            width: 18px;
                            height: 10px;
                        }
                    }
                }
            }

            &:hover {
                .panel-heading,
                .panel-collapse,
                .panel-no-collapse {
                    background-color: $filter-hover-bg;
                    border-color: $filter-hover-bg;
                }
            }
        }
    }
}

.product-details {
    .summary {
        display: block;

        > div:first-of-type {
            display: inline-block;
            vertical-align: middle;
            /*Standard*/
            width: calc(100% - 25px);
            /*Firefox*/
            width: -moz-calc(100% - 25px);
            /*Webkit*/
            width: -webkit-calc(100% - 25px);
            /*Opera*/
            width: -o-calc(100% - 25px);

            .list-title {
                float: left;
                margin: 0;
            }

            .folder {
                float: right;
                display: inline-block;
                margin: 0;

                > span {
                    margin-right: 5px;
                }
            }
        }
    }
}

.provider-stats {
    ul {
        > li {
            dt, dd {
                display: inline-block;
                font-size: 19px;
            }
        }
    }
}

.gherkin-scenario {

    p {
        margin-bottom: 20px !important;
        line-height: 2.5;
    }

    span.data-tag {
        background-color: $panel-colour;
        color: $link-colour;
        padding: 5px;
        cursor: pointer;

        &:empty {
            display: none;
        }

        &:hover {
            /*background-color: $highlight-colour;*/
            color: $link-hover-colour;
        }
    }
}

.qa-passed-report {
    summary {
        color: $green;

        &:hover {
            color: $green;
        }
    }

    .panel {
        &.panel-border-narrow {
            border-color: $green !important;
        }
    }
}

.qa-failed-report {
    summary {
        color: $red;

        &:hover {
            color: $red;
        }
    }

    .panel {
        &.panel-border-narrow {
            border-color: $red !important;
        }
    }
}

.visible {
    display: block !important;
}
///////////////////////////////////////
//          Sidebar pages           //
/////////////////////////////////////
th, tr, td, tbody {
    border: none !important;
}

table {
    border: none;

    p.error-message {
        font-weight: normal;
    }

    thead {
        border-bottom: 2px solid $border-colour !important;
    }
}

.error-message {
    font-weight: normal !important;

    a {
        color: $red !important;

        &:hover {
            color: $red !important;
        }
    }
}

.text-success {
    font-weight: normal;
}

.item-detail {
    > a {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: inherit;
    }
}

.progress {
    display: inline-block;
    width: 20%;
}

.year-form {
    .form-control {
        width: 25% !important;

        &:focus {
            outline: 3px solid $focus-colour !important;
            border-color: initial !important;
            box-shadow: none !important;
        }
    }
}

.graph {
    width: 100%;
    margin-bottom: 30px;

    img {
        width: 100%;
    }
}

.esfa-summary {

    .data {
        margin-top: 0;
        display: inline-block;

        .data-link {
            padding: 0 !important;
            text-decoration: underline;

            &.success {
                text-decoration-color: $green;
            }

            &.failing {
                text-decoration-color: $error-colour;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .data-item {
            padding: 0;
            font-size: inherit;
            font-weight: normal;
            line-height: 1;
        }
    }

    .progress {
        margin-bottom: 0;
        display: block;
        width: 100%;
        max-width: 100px;
        background-color: $panel-colour;

        .progress-bar-success {
            background-color: $green;
        }

        .progress-bar-error {
            background-color: $mellow-red;
        }
    }
}

.editor {
    min-height: 250px;
    border: 1px solid $border-colour;
    width: 100%;
}

.summary {
    cursor: pointer;

    &:focus {
        outline: 3px solid $focus-colour;
    }

    &:before {
        content: "\e258";
        font-family: $glyph;
        font-weight: normal;
        font-size: 14px;
        margin-right: 5px;
        //display: inline-block;
        vertical-align: middle;
    }

    &.collapsed:before {
        content: "\e259";
    }
}

/*Gherkin scenario page*/

.gherkin-scenario {
    #scenario-name {
    }

    .form-control {
        width: 100%;
    }

    .remove-step {
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }
}

#calculation-engine {
    h3 {
        margin: 0;
        margin-top: 30px;
        font-size: 24px;
    }

    table {
        border: 1px solid $red;
    }
}

.banner-container {
    background-color: $govuk-blue;
    color: $page-colour;
    padding-bottom: 15px;
    margin-bottom: 30px;

    a,
    a:visited,
    a:link {
        color: $page-colour;
        text-decoration: underline;
    }

    .banner-container-right {
        padding-top: 50px;
    }

    .heading-large {
        margin-top: 0;
    }

    .banner-container-list {
        padding-left: 15px;

        li {
            list-style: disc;
        }
    }
}

.form-banner-container-beta-col {
    border-top: 10px solid $govuk-blue;
    padding-top: 15px;
}

.form-banner-container {
    margin-bottom: 15px;

    a,
    a:visited,
    a:link {
        text-decoration: underline;
    }

    .form-banner-container-right {
        padding-top: 50px;
    }

    .heading-large {
        margin-top: 0;
    }

    .form-banner-container-list {
        padding-left: 15px;

        li {
            list-style: disc;
        }
    }

    .breadcrumbs {
        a,
        a:visited {
            color: #000
        }
    }

    .hero-text {
        color: $grey-2;
    }

    .hero-description {
        color: $grey-2;
    }

    .hero-title {
        margin-bottom: 0;
    }
}

.filter-container {
    .form-control {
        border: none;
        height: 100%;
        padding: 10px;
    }

    .form-control:focus,
    input:focus {
        outline: none;
    }

    .input-group-addon {
        background-color: rgb(11,12,12);
        border: none;
        border-radius: 0;
    }

    input[type='image'] {
        cursor: pointer;
    }

    input[type='image']:disabled {
        cursor:not-allowed;
    }

    .filter-field-heading{
        font-size: 19px;
    }
}

.filter-selected-container {
    display: flex;
    flex-wrap:wrap;


    .filter-selected-item {
        padding: 15px 15px;
        background-color: rgb(248,248,248);
        border: 1px solid $secondary-text-colour;
        margin-right: 15px;
        margin-bottom: 30px;
        white-space:nowrap;
    }

    .filter-selected-item:last-child {
        margin-right: 0;
    }

    .filter-selected-item-remove-button{
        padding-left: 15px;
        color: #000;
        cursor: pointer;
        float: right;
    }
}


.homepage-section-container {
    padding: 15px 0;
}

.homepage-section-title {
    padding: 30px 0 15px 0;
}

.form-control {
    border-radius: 0;
}

.button-in-line {
    line-height: 1.00
}

.button {
    box-shadow: none;
}

.spec-mgr-control {
    width: 200px !important;
}

.form-submit-container {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;

    a {
        margin-left: 15px;
    }
}

.description-text-link {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    font-weight: 700;
    margin-right: 10px;

    a {
        color: $link-colour;
        text-decoration: none;

        &:hover {
            color: $link-hover-colour;
        }
    }
}

.input-validation-error {
    border: 4px solid $error-colour;
}

@media (min-width: 641px) {
    .form-control {
        width: 100%;
    }

    .form-group {
        margin-bottom: 0px;
        padding-bottom: 15px;
    }

    .description-text {
        color: $grey-2
    }

    .validation-failed-block {
        border-left: 5px solid $error-colour;
        padding-left: 10px;
    }

    .validation-failed-label {
        color: $error-colour;
    }

    /*.validation-passed-block {
        border-left: 5px solid $page-colour;
        padding-left: 10px;
    }*/

    .validation-summary-errors {
        border: 5px $error-colour solid;
        padding: 20px 15px 15px;
        margin-bottom: 15px;

        ul {
            color: $error-colour;
            font-size: smaller;

            li {
                margin-bottom: 5px;
            }
        }

        p {
            font-size: small;
            font-weight: 300;
        }

        a,
        a:visited,
        a:link {
            color: $error-colour;
            font-weight: bold;
        }

        .heading-large {
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}
