@page
@model CalculateFunding.Frontend.Pages.Errors.Error401PageModel

@{
    ViewData["Title"] = "Access Denied";
}

@section FormBannerLeft{
    <h1 class="heading-large">Access Denied (401 error)</h1>
}

<div id="main-container">

    <div class="row">
        <div class="col-sm-12 col-md-9">

            <p>
                Go back or <a href="/">visit the Calculate funding home page.</a>
            </p>
        </div>
    </div>

</div>
