@page
@model CalculateFunding.Frontend.Pages.Errors.Error403PageModel

@{
    ViewData["Title"] = "Forbidden";
}

@section FormBannerLeft{
    <h1 class="heading-large">Forbidden request (403 error)</h1>
}

<div id="main-container">

    <div class="row">
        <div class="col-sm-12 col-md-9">

            <p>
                Go back or <a href="/">visit the Calculate funding home page.</a>
            </p>
            <p>
                <a href="https://dfe.service-now.com/serviceportal?id=ssp_form&table=incident&sys_id=-1&view=ess">Log an incident</a> on MyServiceDesk.
            </p>
        </div>
    </div>

</div>
