@page

@{
    ViewData["Title"] = "Page not found";
}

@section FormBannerLeft{
    <h1 class="heading-large">Page not found (404 error)</h1>
}

<div id="main-container">

    <div class="row">
        <div class="col-sm-12 col-md-9">

            <p>
                Go back or <a href="/">visit the Calculate funding home page.</a>
            </p>
            <p>
               <a href="https://dfe.service-now.com/itg/">Log an incident</a> on MyServiceDesk.
            </p>
        </div>
    </div>

</div>
