@import '~govuk-frontend';
.govuk-width-container{
  max-width: 1020px;
}
.govuk-phase-banner {
  border-bottom: 0 !important;
}

/////////////////////////////////////
/////         Navbar            /////
/////////////////////////////////////
.nav {
  list-style: none;
}

.nav > li {
  float: left;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.app-pane.app-pane--enabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-navigation {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f8f8;
}

.app-navigation__list {
  position: relative;
  left: -15px;
  padding: 0;
  list-style: none;
}

.app-navigation__list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 50px;
  padding: 0 15px;
  float: left;
  line-height: 50px;
}

.app-navigation__link {
  font-weight: 700;
  text-decoration: none;
}

.app-navigation__list-item--current {
  border-bottom: 4px solid #1d70b8;
}


/////////////////////////////////////
/////        Page banner        /////
/////////////////////////////////////
.banner-link-container {
  display: flex;
  align-content: stretch;
}

.banner-link-container .banner-link-left-container {
  width: 66.66%;
  padding-right: 30px;
  padding-bottom: 30px;
}

.banner-link-container .banner-link-right-container {
  width: 33.33%;
  background-color: govuk-colour("black");
  padding: 20px;
  align-self: flex-end;
}

.banner-link-container .banner-link-right-container a,
.banner-link-container .banner-link-right-container a:visited {
  color: govuk-colour("white");
  font-size: 19px;
}


/////////////////////////////////////
/////      funding line         /////
/////////////////////////////////////
.funding-lines-table tr td:nth-child(1), #funding-lines-table tr th:nth-child(1) {
  width: 10%;
}

.funding-lines-table tr td {
  &:nth-child(2) {
    width: 20%;
  }

  &:nth-child(3) {
    width: 70%;
  }
}

.funding-line-status-container {
  float: right !important;

  .govuk-button {
    margin-bottom: 0 !important;
    padding: 8px 5px 7px !important;
  }
}

.approval-status-Draft {
  background-color: #768693 !important;
}

.approval-status-Approved {
  background-color: #28a197 !important;
}

.approval-status-Updated {
  background-color: #f47738 !important;
}

.approve-button-container {
  float: right;
}


.viewfunding-filter {
  background-color: $govuk-border-colour;
  padding: 10px;
}

.pagination {
  padding: 0;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  background: none;

  &:hover,
  &:focus {
    background: #F8F8F8;
    outline: 3px solid #FFBF47;
  }

  &.current {
    color: #0B0C0C;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover,
    &:focus {
      color: #0B0C0C;
      background: none;
    }
  }
}

.pagination__summary {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 8px 0;

  @media (min-width: 642px) {
    float: right;
  }
}

.permissions-banner {
  background-color: #F47738;
  padding: 20px;

  span {
    margin-left: 20px;
    border-color: #fff;
    color: #F47738;
    background-color: white;
  }

  strong {
    margin-left: 20px;
    color: white;
  }
}

.govuk-collapsiblepanel {
  .govuk-collapsiblepanel-heading {
    display: block;
    //    text-align: left;
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: bold;
    padding: 1rem;
    color: govuk-colour("black");
    background: govuk-colour("mid-grey");
    cursor: pointer;

    &:hover {
      color: govuk-colour("dark-grey");
    }

    .govuk-collapsiblepanel-heading-expander {
      content: '+';
      align-content: end;
    }

    .govuk-collapsiblepanel-heading-collapser {
      content: '-';
      align-content: end;
    }
  }

  .govuk-collapsiblepanel-body-collapsed {
    max-height: 0px;
    overflow: hidden;
    color: $govuk-text-colour;
    border-left: solid 1px govuk-colour("mid-grey");
    border-right: solid 1px govuk-colour("mid-grey");
    border-bottom: solid 1px govuk-colour("mid-grey");
  }

  .govuk-collapsiblepanel-body {
    color: $govuk-text-colour;
    border-left: solid 1px govuk-colour("mid-grey");
    border-right: solid 1px govuk-colour("mid-grey");
    border-bottom: solid 1px govuk-colour("mid-grey");
    padding: 10px;
  }

  margin-bottom: 10px;
}

// Loading spinner

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba(255, 255, 255, 0.2);
  border-right: 0.2em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
  border-left: 0.2em solid #005EA5;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  &:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
}
.loader-full {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
.center-align { text-align: center;}

  ul.autocomplete{
    border-bottom: 2px solid $govuk-input-border-colour;
    border-right: 2px solid $govuk-input-border-colour;
    border-left: 2px solid $govuk-input-border-colour;
    border-top: none;
    position: absolute;
    width: 224px;
    background-color: $govuk-body-background-colour;
    li{
      padding-right: 5px;
      padding-left: 5px;
      list-style: none;
        cursor: pointer;
    }
  }
.govuk-tag {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #ffffff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  font-size: 1rem;
  line-height: 1;
}
.right-align {
  float: right;
}