@page
@model CalculateFunding.Frontend.Pages.Data.IndexModel
@{
    ViewData["Title"] = "Manage the Data";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BannerLeft{
    <h1 class="heading-large">Manage the Data</h1>
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Calculate Funding</a></li>
            <li>Manage the Data</li>
        </ol>
    </div>
}