@page
@model CalculateFunding.Frontend.Pages.Users.ConfirmSkillsModel
@{
    ViewData["Title"] = "ConfirmSkills";
}

@section BannerWhole {
    <div class="spacing-30">
        <h1 class="heading-large">Calculate funding service: required knowledge and skills</h1>
    </div>
}

<div id="main-container">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <p>
                You must have skills in different coding languages, Visual Basic (VB) and Gherkin.
            </p>
            <p>
                You must know the general principles on how the Education and Skills Funding Agency allocates funding to providers. This includes schools, academies, apprenticeships and other educational and training establishments.
            </p>
            <p>
                If you have any queries, please contact your line manager.
            </p>
            <p>
                <h2 class="heading-medium">
                    Specifications
                </h2>
            </p>
            <p>
                Specifications contain the required calculations for funding. This includes the required calculations, providers in scope and outputs needed.
            </p>
            <p>
                A specification is used for a set funding period and one funding streams. 
            </p>
            <p>
                The template calculation links will automatically appear as links for you to populate with the calculation information. These will be displayed to providers on their funding statement. Funding calculations will also be displayed on funding statements.
            </p>
            <p>
                <h2 class="heading-medium">
                    Calculations and QA tests
                </h2>
            </p>
            <p>
                You must have a schema set-up in CFS for your specification and have the required data source files uploaded and mapped to work for the calculations. You will use coding language, VB, to create or edit template calculations and additional calculations.
            </p>
            <p>
                You will use the coding language, Gherkin, to create QA tests.
            </p>
            <p>
                Calculate funding uses ‘Intellisense’ which will help you input functions and links to datasets. This means that you can choose the core provider datasets when creating or editing your specification.
            </p>
            <p>
                <h2 class="heading-medium">
                    Data source files and datasets
                </h2>
            </p>
            <p>
                You should only upload a data source file if you are confident that the data it contains, and the data schema used are correct and relevant.
            </p>
            <p>
                You should only map a data source file to a dataset for a specification if you are confident that the data schema and data source file version are correct.
            </p>
            <p>
                If you require a specific set of provider data, you can <a href="https://dfe.service-now.com/serviceportal?id=sc_cat_item&sys_id=3ab186f8db2c2b403b929334ca961998">raise a request from the DfE helpdesk</a> and it will appear as an option in ‘Core provider data’ option when creating or editing a Specification.
            </p>
            <p>
                <h2 class="heading-medium">
                    Approving and Releasing funding
                </h2>
            </p>
            <div>
                Only if you have the authority to do so you can approve:<br />
                <ul class="confirm-skills-list">
                    <li>
                        specifications
                    </li>
                    <li>
                        calculations
                    </li>
                    <li>
                        funding
                    </li>
                </ul>
                You may also have the required authority in order to release this funding.
            </div>
            <p>
                <h2 class="heading-medium">
                    Confirmation
                </h2>
            </p>
            <div>
                By proceeding you confirm that you:<br />
                <ul class="confirm-skills-list">
                    <li>
                        have the required skills, knowledge and experience to use the Calculate funding service
                    </li>
                    <li>
                        will only approve or publish items if you have the authority to do so
                    </li>
                </ul>
                You won't see this screen again unless you navigate here from the link on the homepage.
            </div>

            <form method="post" class="form">
                <p class="form-submit-container"><button type="submit" class="button" id="save-button">Accept</button> <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" id="cancel-link">Cancel</a></p>
            </form>
        </div>
    </div>

</div>
@section Scripts
    {
    <script asp-src-include="~/js/submit.disabler.js" asp-append-version="true" type="text/javascript"></script>
}



