@page
@model CalculateFunding.Frontend.Pages.Results.IndexModel
@using CalculateFunding.Frontend.Properties
@{
    ViewData["Title"] = "View results";
}

@section NavBar {
    <partial name="_NavbarPartial" />
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">@BreadcrumbText.CalculateFunding</a></li>
            <li>@BreadcrumbText.ViewResults</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">View results</h1>
    <h2 class="hero-description"> View results for providers,calculations and quality assurance tests.</h2>
}

<div class="homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/results/viewproviderresults" class="heading-medium">View provider results</a>
            </div>
            <div>Select a provider to view its calculation and quality assurance test results.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/app/SelectSpecification" class="heading-medium">View specification results</a>
            </div>
            <div>Select a specification to view the calculation.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/results/viewcalculationresults" class="heading-medium">View calculation results</a>
            </div>
            <div>View the results of a calculation.</div>
        </div>
    </div>
</div>