@page
@model CalculateFunding.Frontend.Pages.IndexModel
@{
    ViewData["Title"] = "View Results";
    Layout = "~/Pages/_Layout.cshtml";
}

@section BreadCrumb{
    <div class="breadcrumbs">
        <ol>
            <li><a href="~/">Calculate Funding</a></li>
            <li>View results</li>
        </ol>
    </div>
}

@section BannerLeft{
    <h1 class="hero-title">View results</h1>
    <h2 class="hero-description"> View results for providers,calculations and quality assurance tests.</h2>
}

<div class="row homepage-section-container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/results/viewproviderresults" class="heading-small">View provider results</a>
            </div>
            <div>Select a provider to view its calculation and quality assurance test results.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/scenarios" class="heading-small">View QA test results</a>
            </div>
            <div>View the passes and failures for quality assurance tests.</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="homepage-section-title">
                <a href="/calcs" class="heading-small">View calculation results</a>
            </div>
            <div>Veiw the results of a calculation.</div>
        </div>
    </div>
</div>