span.tb-search {
  color: #6f777b;
  font-size: 16px;
}

span.tb-search > button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #6f777b;
  font-size: 16px;
}