.editable-field {
  span.suffix {
    position: absolute;
    margin-left: -35px;
    padding: 8px;
    font-weight: 800;
  }
  span.prefix {
    position: absolute;
    padding: 7px;
    margin-left: 2px;
    font-weight: 800;
  }
  .input-prefix {
    padding-left: 30px;
  }
}
