.orgchart-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 0 20px 0;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(90deg, #efefef 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(#efefef 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
    height: 100%;
  }
  
  .orgchart {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    border: 1px dashed rgba(0,0,0,0);
    padding: 20px 20px 0 20px;
    margin: auto;
    height: 100%;
    position: relative;
  }

  .orgchart > .chart-cell {
    display: flex;
    vertical-align: middle;
    padding: 20px;
  }

  .orgchart-container .hidden {
    display: none!important;
  }
  
  .orgchart-container > .oc-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
  }
  
  .orgchart-container > .oc-mask .spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
  
  .orgchart-container > .oc-mask .spinner::before {
    width: 100px;
    height: 100px;
    border-width: 10px;
    border-radius: 50px;
    border-top-color: rgba(68, 157, 68, 0.8);
    border-bottom-color: rgba(68, 157, 68, 0.8);
    border-left-color: rgba(68, 157, 68, 0.8);
  }