@page
@model IndexModel
@{
ViewData["Title"] = "Allocations overview";
}
<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">Allocations overview</h1>
        <form class="year-form" method="get">
            <div class="form-group">
                <label class="form-label" for="select-box">Select year:</label>
                <select class="form-control" id="select-box" name="select-box">
                    <option>2017/2018</option>
                    <option>2016/2017</option>
                    <option>2015/2016</option>
                </select>
            </div>
        </form>
        <div class="graph">
            <img src="~/assets/images/graph.png" />
        </div>
    </div>
    @*end of col-xs-8*@
</div>
@*end of row*@
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel-group wrap esfa-collapse" id="esfa-list">
            <div class="funding-streams">
                <button class="accordion-toggle">Open all</button>
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title stream-title">
                        <a href="#">
                            General Annual Grants (GAG)
                        </a>
                        <span class="ammount">&pound;45.5 billion</span>
                        </h2>
                        <div class="esfa-summary">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="data">
                                        <span class="data-item medium">1000</span>
                                        <a class="data-link" asp-page="Products/Index"><span class="data-item bold-xsmall">total providers</span></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="data">
                                        <span class="data-item medium">700</span>
                                        <a class="data-link success" asp-page="Products/Index" ><span class="data-item bold-xsmall text-success">covered</span></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="data">
                                        <span class="data-item medium">300</span>
                                        <a class="data-link failing" asp-page="Products/Index" ><span class="data-item bold-xsmall error-message">test failing</span></a>
                                    </div>
                                </div>
                                <div class="col-xs-11 col-sm-2">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            70% Complete (success)
                                        </div>
                                    </div>
                                    <div class="data">
                                        <span class="data-item bold-xsmall">coverage</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end of esfa-summary*@
                        @*<div class="esfa-summary">
                            <div class="total-providers pull-right">
                                <p class="item-detail font-xsmall total-providers">
                                    <a asp-page="Providers/Index">
                                        <span class="providers-number">1000</span> total providers
                                    </a>
                                </p>
                            </div>
                            <div class="coverage pull-left">
                                <p class="item-detail font-xsmall failing">
                                    <a asp-page="Products/Index">
                                        <span class="providers-number error-message">300 failing</span>
                                    </a>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                        40% Complete (success)
                                    </div>
                                </div>
                                <p class="item-detail font-xsmall text-success covered">
                                    <a asp-page="Products/Index">
                                        <span class="providers-number text-success">500 covered</span>
                                    </a>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                        @*end of .esfa-summary*@
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <details>
                                                    <summary>
                                                        <h3 class="heading-medium list-title summary">Schools Budget Share (SBS) <span class="ammount">&pound;22 billion</span></h3>
                                                        <div class="esfa-summary">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="data">
                                                                        <span class="data-item medium">900</span>
                                                                        <a class="data-link" asp-page="Products/Index"><span class="data-item bold-xsmall">total providers</span></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="data">
                                                                        <span class="data-item medium">650</span>
                                                                        <a class="data-link success" asp-page="Products/Index"><span class="data-item bold-xsmall text-success">covered</span></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3">
                                                                    <div class="data">
                                                                        <span class="data-item medium">250</span>
                                                                        <a class="data-link failing" asp-page="Products/Index"><span class="data-item bold-xsmall error-message">test failing</span></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-11 col-sm-2">
                                                                    <div class="progress">
                                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                                                             aria-valuemin="0" aria-valuemax="100" style="width:77%">
                                                                            77%
                                                                        </div>
                                                                    </div>
                                                                    <div class="data">
                                                                        <span class="data-item bold-xsmall">coverage</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </summary>

                                                    <div class="panel panel-border-narrow">
                                                        <ul class="list-group">
                                                            <li class="list-group-item sublist-item">
                                                                <h4 class="heading-small">
                                                                    <a asp-page="Products/Index">Pupil Led Factor</a>
                                                                    <span class="ammount">&pound;17 billion</span>
                                                                </h4>
                                                                <div class="esfa-summary">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">400</span>
                                                                                <a class="data-link" asp-page="Products/Index"><span class="data-item bold-xsmall">total providers</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">300</span>
                                                                                <a class="data-link success" asp-page="Products/Index"><span class="data-item bold-xsmall text-success">covered</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">100</span>
                                                                                <a class="data-link failing" asp-page="Products/Index"><span class="data-item bold-xsmall error-message">test failing</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-11 col-sm-2">
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                                                                     aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                                                                    75%
                                                                                </div>
                                                                            </div>
                                                                            <div class="data">
                                                                                <span class="data-item bold-xsmall">coverage</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*end of esfa-summary*@
                                                            </li>
                                                            <li class="list-group-item sublist-tem">
                                                                <h4 class="heading-small">
                                                                    <a href="#">Other Factor</a>
                                                                    <span class="ammount">&pound;3 billion</span>
                                                                </h4>
                                                                <div class="esfa-summary">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">50</span>
                                                                                <a class="data-link" asp-page="Products/Index"><span class="data-item bold-xsmall">total providers</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">50</span>
                                                                                <a class="data-link success" asp-page="Products/Index"><span class="data-item bold-xsmall text-success">covered</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">0</span>
                                                                                <a class="data-link failing" asp-page="Products/Index"><span class="data-item bold-xsmall error-message">test failing</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-11 col-sm-2">
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                                                                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                                                                    100%
                                                                                </div>
                                                                            </div>
                                                                            <div class="data">
                                                                                <span class="data-item bold-xsmall">coverage</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*end of esfa-summary*@
                                                            </li>
                                                            <li class="list-group-item sublist-item">
                                                                <h4 class="heading-small">
                                                                    <a href="#">Exceptional Factor</a>
                                                                    <span class="ammount">&pound;1.5 billion</span>
                                                                </h4>
                                                                <div class="esfa-summary">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">200</span>
                                                                                <a class="data-link" asp-page="Products/Index"><span class="data-item bold-xsmall">total providers</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">50</span>
                                                                                <a class="data-link success" asp-page="Products/Index"><span class="data-item bold-xsmall text-success">covered</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-3">
                                                                            <div class="data">
                                                                                <span class="data-item medium">150</span>
                                                                                <a class="data-link failing" asp-page="Products/Index"><span class="data-item bold-xsmall error-message">test failing</span></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-11 col-sm-2">
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                                                                     aria-valuemin="0" aria-valuemax="100" style="width:25%">
                                                                                    25%
                                                                                </div>
                                                                            </div>
                                                                            <div class="data">
                                                                                <span class="data-item bold-xsmall">coverage</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*end of esfa-summary*@
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    @*end of panel.panel-border-narrow*@
                                                </details>
                                            </div>
                                            @*end of col-xs-12*@
                                        </div>
                                        @*end of row*@
                                    </li>
                                    @{
                                    string[] allocationLinesMockups = { "Minimum Funding Guarantee", "ESG Protection", "Post Opening Grant", "Post 16 High Needs Funding" };
                                    }

                                    @foreach (var allocationLine in allocationLinesMockups)
                                    {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-12">

                                                <details>
                                                    <summary>
                                                        <h3 class="heading-medium list-title summary">
                                                            @allocationLine
                                                            <span class="ammount">&pound;</span>
                                                        </h3>
                                                        <div>
                                                            <p class="item-detail font-xsmall"><a asp-page="Providers/Index"><span class="error-message"># Providers failed tests</span></a></p>
                                                            <p class="item-detail font-xsmall"><a asp-page="Products/Index"><span class="error-message"># Scenarios failing</span></a></p>
                                                        </div>
                                                    </summary>

                                                    <div class="panel panel-border-narrow">
                                                        <ul class="list-group allocation-lines-list">
                                                            @for (var i = 1; i < 5; i++)
                                                            {
                                                            <li class="list-group-item sublist-item">
                                                                <h4 class="heading-small">
                                                                    <a asp-page="Results">Allocation line @i</a>
                                                                </h4>
                                                                <p class="item-detail font-xsmall">Total <span class="ammount">&pound;</span></p>
                                                                <p class="item-detail font-xsmall"><a href="#"><span class="error-message"># providers failed tests</span></a></p>
                                                            </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </details>
                                            </div>
                                            @*end of .col-xs-12*@
                                        </div>
                                        @*end of row*@
                                    </li>
                                    }
                                </ul>
                            </div>
                            @*end of panel inside panel-body*@
                        </div>
                        @*end of panel-body*@
                    </div>
                    @*end of panel-collapse*@
                </div>
                @*end of panel*@                
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a href="#">
                                16-19 Funding
                            </a>
                        </h2>
                        <p class="item-detail font-xsmall">Total <span class="ammount">&pound;</span></p>
                        <p class="item-detail font-xsmall"><a href="#"><span class="error-message"># Providers failed tests</span></a></p>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                @*end of panel*@ 
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a href="#">
                                High Needs Funding
                            </a>
                        </h2>
                        <p class="item-detail font-xsmall">Total <span class="ammount">&pound;</span></p>
                        <p class="item-detail font-xsmall"><a href="#"><span class="error-message"># Providers failed tests</span></a></p>
                    </div>
                    <div id="three" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                 @*end of panel*@ 
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a href="#">
                                Another funding stream
                            </a>
                        </h2>
                        <p class="item-detail font-xsmall">Total <span class="ammount">&pound;</span></p>
                        <p class="item-detail font-xsmall"><a href="#"><span class="error-message"># Providers failed tests</span></a></p>
                    </div>
                    <div id="four" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                @*end of panel*@
            </div>
        </div>
         @*end of #esfa-collapse*@  
    </div>
     @*end of .col-xs-12*@  
</div>
 @*end of .row*@  