@page
@model Allocations.Web.Pages.IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-8">

        <h1 class="heading-xlarge">
            Calculate funding
        </h1>

        <p>Use this service to:</p>
        
        <ul class="list list-bullet">
            <li>explore funding streams, policy areas and allocation lines</li>
            <li>understand the qualoty assurance coverage and results for each funding stream and allocation line</li>
            <li>understand the progress in resolving any providers failing quality assurance as allocation deadline</li>
        </ul>

        <p>Registering takes around 5 minutes.</p>

        <p>
            <a class="button button-start" href="/Overview" role="button">Start now</a>
        </p>

        <h2 class="heading-medium">Before you start</h2>

        <p>You can also <a href="#">register by post.</a></p>

        <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

        <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
            <h2 class="heading-medium" id="subsection-title">Application pages</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="font-xsmall">
                    <li><a href="/Overview">Overview</a></li>
                    <li><a href="/Products">Products</a></li>
                    <li><a href="/Products/Details">Product details</a></li>
                    <li><a href="/Specifications/Product?id=budget-gag1718">Build calculation</a></li>
                    <li><a href="/Specifications/TestScenario/budget-gag1718?productId=p004prirate">Create new scenario</a></li>
                </ul>
            </nav>
        </aside>

    </div>
</div>
