@page
@model CalculateFunding.Web.Pages.Budgets.Specification.BudgetsModel




<div class="row">
    <div class="col-xs-8">
        <h1 class="heading-xlarge">Budget specifications</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel-group wrap">
            <div class="funding-streams">
                @foreach (var budget in Model.Budgets)
                {
                    <h2 class="panel-title">
                        <a asp-page="Budget" asp-route-id="@budget.Id">
                            @budget.Name
                        </a>
                    </h2>
                }
            </div>
        </div>
        <!-- end of #esfa-collapse  -->
    </div>
    <!-- end of .col-xs-12  -->
</div>